body {
  display: center;
  margin: 0;
  padding: 20px 90px 20px 90px;
  background: linear-gradient(
    44.8deg,
    rgba(255, 136, 102, 0.67) -53.1%,
    rgba(255, 221, 136, 0.28) 49%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  color: #6c476e;
  text-align: center;
  font-weight: 900;
  margin: 0;
  font-size: 34px;
  line-height: 48px;
}

h2 {
  font-size: 20px;
  text-align: center;
  color: #a45c5c;
}

h3 {
  text-align: center;
  color: #a45c5c;
  text-align: center;
}

h5 {
  text-align: center;
  color: purple;
}

p {
  text-align: center;
  color: purple;
}

.card-text {
  text-align: center;
  color: purple;
}

.container {
  padding: 15px 15px;
  padding-inline: 16px;
}

.cloud-icon {
  color: rgb(100, 18, 100);
  display: block;
  margin: 0;
  font-size: 30px;
  text-align: center;
}

form {
  text-align: center;
}

card-color {
  color: blue;
}

.units {
  text-align: center;
}

.button-style {
  border-color: rgb(204, 167, 192);
  background-color: antiquewhite;
  font-size: 15px;
  border-radius: 10px;
}

div {
  text-align: center;
  display: block;
  margin: 0;
}

.card-body {
  background: linear-gradient(
    110.5deg,
    rgba(248, 196, 249, 0.66) 22.8%,
    rgba(253, 122, 4, 0.15) 64.6%
  );
  opacity: 90%;
}

.temperature {
  font-size: 90px;
}
