.vanilla-weather-app {
  max-width: 600px;
  margin: 30px auto;
  font-family: "Archivo", sans-serif;
  border: 1px double;
  border-radius: 5px;
  border-color: rgb(235, 212, 212);
  background-color: rgb(243, 229, 241);
}

body {
  display: center;
  margin: 0;
  padding: 20px 90px 20px 90px;
  background: linear-gradient(
    44.8deg,
    rgba(255, 136, 102, 0.67) -53.1%,
    rgba(255, 221, 136, 0.28) 49%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  color: #6c476e;
  text-align: center;
  font-weight: 900;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  margin: 0;
  margin-bottom: 5px;
  font-size: 34px;
  line-height: 48px;
}

h2 {
  font-family: "Archivo", sans-serif;
  font-style: regular;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #a45c5c;
}

h3 {
  font-size: 50px;
  text-align: center;
  color: #a45c5c;
  text-align: center;
}

h5 {
  text-align: center;
  color: purple;
  font-size: 15px;
}

p {
  text-align: center;
  color: purple;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: grey;
  margin: 0;
  margin-top: 0;
}
li:first-letter {
  text-transform: capitalize;
}
.card-text {
  text-align: center;
  color: purple;
}

.container {
  padding: 15px 15px;
  padding-inline: 16px;
}

.cloud-icon {
  color: rgb(100, 18, 100);
  display: block;
  margin: 0;
  font-size: 30px;
  text-align: center;
}

.form-style {
  text-align: center;
  width: 100%;
  border: 2px;
  border-color: white;
}

.units {
  text-align: center;
  font-size: 20px;
}

.button-style {
  border-color: rgb(128, 122, 168);
  background-color: rgb(150, 171, 216);
  font-size: 15px;
  color: white;
  border-radius: 8px;
}

.submit-button {
  border-color: rgb(110, 187, 107);
  background-color: rgb(157, 199, 151);
  font-size: 15px;
  color: white;
  border-radius: 8px;
}

div {
  text-align: center;
  display: block;
  margin: 0;
}

.card {
  background: rgb(228, 207, 223);
  margin-bottom: 5px;
  display: grid;
  border: 0px solid;
  border-radius: 3px;
  font-size: 18px;
}

.temperature {
  font-size: 70px;
}

.icon {
  width: auto;
  margin: 0;
  padding: 0;
}

.active {
  color: brown;
  cursor: default;
  text-decoration: none;
}

.active:hover {
  text-decoration: underline;
}
